/**
*	Created on June 20, 2012
*	@author: moshidelgo.
*
*/
html{overflow-x: hidden;}
body{background:#000;color:#f2f2f2;font-family:EauSansBook;text-shadow: 1px 1px 1px rgba(0,0,0,0.004);-webkit-font-smoothing: none;-webkit-font-smoothing: subpixel-antialiased;-webkit-font-smoothing: antialiased;}
a {text-decoration:none;outline:none;color: #00aced;}
a:active {border:none;}
p, h1, h2, h3, h4 {padding:0;margin:0;}
ul {list-style-type:none;}
ul li {display: inline;}

/* browser not supported */
#no_html {position:fixed;top:0;left:0;width:100%;height:100%;background:#000;z-index:1000;display:none;}
#no_html .msg {margin:150px auto;width:500px;font-size: 20px;}
#no_html .msg p {margin-bottom:20px;}
#no_html .msg a {text-decoration:underline;margin-left: 5px;}

/* screen */
#screen {position:fixed;top:0;left:0;width:100%;height:100%;background:#000;z-index:100;display:none;}
#master {width:100%;height:100%;}

/* Living room */
#living_room { min-width:960px;height:523px;background: url("/images/livingroombg.png") 50% 0 no-repeat;}
#living_room article {position: relative;margin-top: -139px;left: 50%;width: 812px;margin-left: -347px;}
#living_room article a { text-decoration: underline; }
#viewer{width:812px;height:207px;margin:0 auto;}
#viewer img {float:left;}
#viewer .logo {float:left;margin:-67px 0px 0px 251px;}

#left_cam {position: relative;top:66px;width: 303px;height:455px;/*float:left;margin-top: 68px;*/}
#right_cam {position: absolute;left: 100%;margin-left: -241px;margin-top: -349px;z-index: 6;width: 241px;/*float:right;margin-top: 174px;*/}

/* nav bar (tbs) */
nav {}
nav p {margin-top: 5px;}
nav .tab-btn {
    cursor: pointer;
    text-align: center;
    float: left;
    margin-right: 8px;
    width:151px;
    height: 30px;
    font-size:19px;
    color:white;
    background: #45484d; /* Old browsers */
    background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
nav .selected{
    color: #000;
    background: #d5cea6; /* Old browsers */
    background: -moz-linear-gradient(top,  #d5cea6 0%, #c9c190 40%, #92894a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d5cea6), color-stop(40%,#c9c190), color-stop(100%,#92894a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d5cea6 0%,#c9c190 40%,#92894a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #d5cea6 0%,#c9c190 40%,#92894a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #d5cea6 0%,#c9c190 40%,#92894a 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #d5cea6 0%,#c9c190 40%,#92894a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5cea6', endColorstr='#92894a',GradientType=0 ); /* IE6-9 */
}

nav .hover{
    background: #7d7e7d; /* Old browsers */
    background: -moz-linear-gradient(top,  #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #7d7e7d 0%,#0e0e0e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
}

/* middle */
#middle {width:960px;margin:40px auto;}

/* sidebar */
aside {float:right;width:252px;height:155px;margin-right: 4px;}
#follow_us {height: 55px;width:236px;border-top: 1px #666666 solid;border-bottom: 1px #666666 solid;margin-top: 66px;}
#follow_us p {font-size: 15px;margin:18px 0px;float: left;}
#follow_us a {float: left;text-indent: -9999px;margin: 5px 0px;}
#follow_us .fb {background: url("/images/follow_us.jpg") no-repeat 0 0;width: 38px;height: 58px;margin: 2px 3px;}
#follow_us .tw {background: url("/images/follow_us.jpg") no-repeat -50px 0px;width: 38px;height: 58px;margin: 2px 9px;}
#follow_us .ln {background: url("/images/follow_us.jpg") no-repeat -95px 0;width: 38px;height: 58px;margin: 2px 0px;}
#contact_us {}
#contact_us h1 {font-size: 25px;font-style: italic;margin: 11px 0px;}
#contact_us a {font-size: 15px;color: #00aced;font-style: italic;margin: 11px 0px;}
#contact_us p {margin: 11px 0px;}

/* middle content */
#main_content {width:700px;padding-top: 65px;}
#main_content  h1 {font-size: 18px;}

/* About */
#about {}
#about p {font-size: 15px;margin: 10px 0px 0px 0px;width: 599px;line-height: 20px;}
#about_yourshow {margin-top: 26px;}
#about_yourshow p {margin-top: 10px;font-size: 16px;}
#about_yourshow img {margin-top: 11px;}
#facebook_yourshow {margin-top: 20px;}
#facebook_yourshow img {float:left;width: 30px;height: 30px;}
#facebook_yourshow p {float: left;margin: 7px 0px 5px 5px;width: 500px;}
.fb-facepile {margin-top: 10px;margin-left: 0px;}

/* Team */
#team {margin-bottom: 50px;height: 1700px;}
.container-table {width:660px;height:100px;}
.container-table .row {float: left;width: 100%;}
.container-table .row .member {width: 330px;height:100%;float: left;margin: 5px 0px;padding-bottom: 15px;}
.container-table .break {width: 210px;border-top: 1px #666666 solid;float: left;margin-top: 5px;}
.container-table .image {float: left;width: 45px;height: 45px;}
.container-table .name {font-weight: bold;float: left;width: 200px;margin:13px 0px 0px 5px;}
.container-table .title {font-weight: 100;font-size:12px;float: left;width: 200px;margin:0px 0px 0px 5px;}
.container-table .teammate {margin: 5px 0px 5px 0px;float: left;width: 317px;font-size: 15px;height: 300px;}
#anat {background: url("/images/sprit2.jpg") no-repeat -136px 0px;}
#moshi{background: url("/images/sprit2.jpg") no-repeat -45px -45px;}
#yaeli{background: url("/images/sprit2.jpg") no-repeat -45px 0px;}
#ran{background: url("/images/sprit2.jpg") no-repeat -181px 0px;}
#tom{background: url("/images/sprit2.jpg") no-repeat -138px -45px;}
#noa{background: url("/images/sprit2.jpg") no-repeat 0 0;}
#itai{background: url("/images/sprit2.jpg") no-repeat -90px -45px;}
#alon{background: url("/images/sprit2.jpg") no-repeat 0px -45px;}
#ori{background: url("/images/sprit2.jpg") no-repeat -183px -45px;}
#onn{background: url("/images/sprit2.jpg") no-repeat -90px 0px;}

/* Press */
#press {width: 700px;height: 500px;}
#press p {margin-top: 10px;font-size: 16px;}
#press img {float: left;}
#press .row {margin: 10px 0px;}
#press .row a {margin-top: 10px;float: left;}

/* Contact us */
#contactus h1{margin:20px 0px 5px 0px;}
#contactus a {margin-top: 5px;}

/* footer */
footer {width:960px;font-size: 16px;color: #333837;margin: 0 auto;padding-bottom: 20px;}
footer ul {margin: 0;}
footer ul li {margin: 0px 5px 0px 0px;}

#gotoappvideo {cursor: pointer;}